// Place all the styles related to the days controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#recent-table {
    float:right;
    
}

h2 {
    margin-top:10%;
}

.weight-change {
    margin-top: 5%;
    margin-bottom:5%;
}


h3 {
    font-family: "Kalam", "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 2.5em;
}


.form-horizontal {
    margin: 0 auto;
    
}

#submit {
   margin: 5% auto; 
}

#submit:hover {
    color:black;
}

#recent-table td {
    border: 2px solid silver;
}