.footer {
  background-color: black;
  margin-top:1%;
  border-top: 2px solid #808080;
  height:20px;
  width: 100%;
  color:white;
  
}

.footer a {
    float:right;
    margin-right:1%;
}

.footer-link{
  color:grey;
}

/* sticky footer for singup pages where the regular footer doesn't quite work */
.sticky-footer{
  background-color: black;
  border-top: 2px solid #808080;
  height:20px;
  width: 100%;
  color:white;
  position: absolute;
  bottom: 0px;
}

.sticky-footer a {
  float:right;
}