.nav.navbar-nav.navbar-right li a {
    color: white;
}

.btn {
    margin-left:4%;
    margin-right: 4%;
    font-size: 1.25em;
    color:white;
}

.btn:hover {
    background-color: white;
    color:black;
    border-color: black;
}

.navbar-brand{
    font-family: "Kalam", arial, monospace;
    text-decoration: underline;
    font-size: 3.25em;    
}

.navbar-inverse .navbar-brand {
    color:white;
}

.navbar-inverse .navbar-brand:hover{
    color:gray;
    text-decoration: underline;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    background-color: #FFFFFF;
    color: black;
}

.navbar {
    margin-bottom:0;
    border-radius:0;
    z-index: 1000;
    background-color: black;;
    border: none;
}

#glyphicon-scale{
  font-size:4em;
  color:red;
}